/* Table of Content

0. Variables
1. Header
    -logo
    -navbar


    Table of Content  */

// ===Variables====
$main-font-color: #554946;
$hover-animation: all 0.2s ease-in-out;

// navmenu logic
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$duration: 0.2s;
$distance: 6px;
// ===Variables====

// ===HEADER====

body {
  font-family: "Montserrat", sans-serif;
  color: #554946;
  // background-color: red;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.header-brand {
  display: flex;

  &__logo {
    width: 50px;
  }
  &__name {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
  }
  &__name-title {
    color: #9b6e33;
    font-size: 1.3rem;
    font-weight: 500;
  }
  &__name-subtitle {
    color: #818181;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.navbar-container {
  width: 60%;
  // align-self: flex-end;
}

.header-nav {
  display: flex;
  justify-content: space-between;

  &__link {
    width: 200px;
    font-size: 0.8rem;
    font-weight: 500;

    transition: $hover-animation;
    position: relative;

    // ====Hover-Animation START===

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -13px;

      width: 0px;
      height: 2px;
      // margin: 5px 0 0;
      transition: $hover-animation;
      transition-duration: 0.5s;
      opacity: 1;
      background-color: #554946;
    }

    &:after {
      right: 50%;
    }
    &:before {
      left: 50%;
    }
    &:hover {
      &:before,
      &:after {
        width: 50%;
        opacity: 1;
      }
    }
  }
}
// ====Hover-Animation===

// ===HEADER END====

// ===HERO-SECTION START====

.hero-section {
  display: flex;
  // border: 1px solid red;
}

.hero-image {
  width: 600px;
  // border: 1px solid red;
}

// ===HERO-SECTION====
