/* Table of Content

0. Variables
1. Header
    -brand (logo)
    -navbar
    -hover animation
    2. hero-section


    Table of Content  */
body {
  font-family: "Montserrat", sans-serif;
  color: #554946;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 10px auto;
}

.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-brand__logo {
  width: 50px;
}

.header-brand__name {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 4px;
}

.header-brand__name-title {
  color: #9b6e33;
  font-size: 1.3rem;
  font-weight: 500;
}

.header-brand__name-subtitle {
  color: #818181;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar-container {
  width: 60%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__link {
  width: 200px;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.header-nav__link:before, .header-nav__link:after {
  content: "";
  position: absolute;
  bottom: -13px;
  width: 0px;
  height: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 1;
  background-color: #554946;
}

.header-nav__link:after {
  right: 50%;
}

.header-nav__link:before {
  left: 50%;
}

.header-nav__link:hover:before, .header-nav__link:hover:after {
  width: 50%;
  opacity: 1;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-image {
  width: 600px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.hero-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  padding: 0 0;
}

.hero-banner__header {
  font-size: 2.3rem;
  margin-bottom: 40px;
}

.hero-banner__header:before {
  position: absolute;
  content: "";
  height: 2px;
  top: 60px;
  left: 3px;
  right: 10%;
  background-color: #554946;
}

.hero-banner__paragraph {
  max-width: 40ch;
  margin-bottom: 70px;
}

.hero-banner__button {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 15px 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #9b6e33;
}
/*# sourceMappingURL=style.css.map */