/* Table of Content

0. Variables
1. Header
    -brand (logo)
    -navbar
    -hover animation
    2. hero-section


    Table of Content  */

// ===Variables START====
$main-font-color: #554946;
$hover-animation: all 0.2s ease-in-out;

// ===Variables END====

// ===HEADER START====

body {
  font-family: "Montserrat", sans-serif;
  color: $main-font-color;
  // background-color: red;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.header-brand {
  display: flex;

  &__logo {
    width: 50px;
  }
  &__name {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
  }
  &__name-title {
    color: #9b6e33;
    font-size: 1.3rem;
    font-weight: 500;
  }
  &__name-subtitle {
    color: #818181;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.navbar-container {
  width: 60%;
  // align-self: flex-end;
}

.header-nav {
  display: flex;
  justify-content: space-between;

  &__link {
    width: 200px;
    font-size: 0.8rem;
    font-weight: 500;

    transition: $hover-animation;
    position: relative;

    // ====Hover-Animation START===

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -13px;

      width: 0px;
      height: 2px;
      // margin: 5px 0 0;
      transition: $hover-animation;
      transition-duration: 0.3s;
      opacity: 1;
      background-color: #554946;
    }

    &:after {
      right: 50%;
    }
    &:before {
      left: 50%;
    }
    &:hover {
      &:before,
      &:after {
        width: 50%;
        opacity: 1;
      }
    }
  }
}
// ====Hover-Animation END===

// ===HEADER END====

// ===HERO-SECTION START====

.hero-section {
  display: flex;
  // border: 1px solid red;
}

.hero-image {
  width: 600px;
  flex-shrink: 2;
  // border: 1px solid red;
}

.hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  padding: 0 0;

  &__header {
    font-size: 2.3rem;
    // padding: 100px 0;
    margin-bottom: 40px;

    // justify-self: flex-start;
    // align-content: flex-end;

    &:before {
      position: absolute;
      content: "";
      height: 2px;
      top: 60px;
      left: 3px;
      right: 10%;
      background-color: $main-font-color;
    }
  }

  &__paragraph {
    max-width: 40ch;
    margin-bottom: 70px;
  }
  &__button {
    font-size: 0.8rem;
    font-weight: 800;
    padding: 15px 35px;
    width: max-content;
    background: #9b6e33;
  }
  // width: 60%;
}

// ===HERO-SECTION END====
