$blue: #25455e;
$dark-blue: #224056;
$black: rgb(19, 19, 19);
$white: #f0f0f0;
$red: #66101f;
$brown: #3f2627;
$grey: #cccccc;
$silver: #656565;
$main-font: "Roboto", sans-serif;
$secondary-font: "Lora", serif;
$transition-speed: 2s;
$yellow: #fff689;