// ==================890px screen=================
$blue: #2c4353;
$white: whitesmoke;
$red: #66101f;
$brown: #3f2627;
$grey: #cccccc;
$main-font: "Roboto", sans-serif;
$secondary-font: "Lora", serif;
$transition-speed: 2s;
@mixin btn {
  padding: 1em 1.5em;
}
@mixin fade-onscroll {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}
@mixin fade-onload {
  opacity: 0;
  transition: opacity $transition-speed ease;
}
@mixin fade-navbar {
  transform: translateY(-60px);
  opacity: 0;
  transition: all 1.3s ease-out 0.3s;
}
@mixin underline {
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: $blue;
    top: 50px;
    width: 70px;
    max-width: 70px;
    height: 5px;
  }
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
}

@media (max-width: 890px) {
  #body {
    font-size: 1rem;
  }
  // hero landing page
  .hero-banner {
    &__left-bg {
      & h1 {
        font-size: 2.3rem;
        padding: 10px 10px;
      }
      & h2 {
        font-size: 1rem;
        width: 100%;
      }
    }
    &__right-bg {
      height: 65vh;
    }
  }

  .how-it-grows-container {
    & h1 {
      width: 80%;
    }
    & p {
      width: 80%;
    }
  }

  // HOW IT GROWS PHASES
  .phase-one {
    background-image: url("/Assets/placeholder images/image1.jpg");
    & .phases__text-header {
      background-color: white;
      color: $blue;
      & h1 {
        @include underline;
      }
    }
  }
  .phase-two {
    background-image: url("/Assets/placeholder images/image2.jpg");
    & .phases__text-header {
      border-right: none;
      background-color: $blue;
      color: $grey;
      & h1 {
        @include underline;
        &::before,
        &::after {
          background-color: $grey;
        }
      }
      & p {
        text-align: center;
      }
    }
  }
  .phase-three {
    background-image: url("/Assets/placeholder images/image3.jpg");
    & .phases__text-header {
      background-color: $grey;
      color: $blue;
      & h1 {
        @include underline;
        &::before,
        &::after {
          background-color: $blue;
        }
      }
    }
  }
  .phases {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 420px;
    flex-direction: column-reverse;
    margin-bottom: 250px;

    &__text-header {
      position: absolute;
      bottom: -170px;
      border: none;
      text-align: center;
      width: 80%;

      height: max-content;

      & h1 {
        font-size: 1.2rem;
        text-align: center;
        padding: 15px 0;
        width: 100%;
        margin: 0 auto;
        white-space: nowrap;
      }
      & p {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        margin: 20px auto;
        padding: 10px 10px;
      }
    }
    &__img-container {
      display: none;
    }
  }
  .phase-three {
    &__guide-text {
      margin-top: 0px;
    }
  }
  .btn.grow-guide-btn {
    margin-bottom: 10px;
  }

  // benefits

  .benefits {
    padding: 30px 2%;
    &__header {
      & p {
        max-width: 100%;
      }
    }
    &__categories {
      padding: 20px 0;
      flex-direction: column;
      &__left {
        margin-bottom: 40px;
      }
    }
  }

  // footer
  .footer {
    padding-left: 0;
    padding-right: 0;
    & > * {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .form-inputs__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__name {
      width: 100%;
      padding-right: 0;
    }
    &__email {
      margin-top: 10px;
      width: 100%;
    }
  }

  .copyright-section {
    color: $white;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    & > * {
      opacity: 0.5;
    }
    &__chevron {
      position: relative;
      &::before {
        position: absolute;
        content: "\f077";
        color: red;
      }
    }
  }

  // faq
  .faq-container {
    padding: 10px;
    width: 90%;
    & h3 {
      font-size: 0.9rem;
      max-width: 80%;
    }
    &__chevron {
      font-size: 0.8rem;
      right: 10px;
    }
  }


  // Gallery
  .gallery-container {
    width: 95%;
}





}