@media (max-width: 1140px) {
  .toggle-menu.fa-bars {
    font-size: 2.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: top 1.3s ease-out 0.3s;
    transition: top 1.3s ease-out 0.3s;
  }
  .toggle-menu.fa-bars:hover {
    cursor: pointer;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 20px 20px;
  }
  .navbar__links {
    overflow: hidden;
    opacity: 0;
    margin: 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-transition: opacity 0.5s ease, height 0.2s ease-in;
    transition: opacity 0.5s ease, height 0.2s ease-in;
  }
  .navbar__links.menu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 270px;
    opacity: 1;
  }
  .navbar__links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar__links ul li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .navbar__links ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  a.nav-shop-btn.btn {
    position: absolute;
    top: 20px;
    right: 80px;
    padding: 0.3em 1.5em;
    -webkit-transition: top 1.3s ease-out 0.3s;
    transition: top 1.3s ease-out 0.3s;
  }
  .hero-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .hero-banner > * {
    width: 100%;
  }
  .hero-banner__left-bg {
    height: 35vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-banner__left-bg h1 {
    margin: 0 auto;
    font-size: 3rem;
    padding: 20px 0;
  }
  .hero-banner__left-bg h2 {
    font-size: 1.3rem;
    width: 100%;
  }
  .hero-banner__left-bg .btn {
    font-size: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 10px 0;
  }
  .hero-banner__right-bg {
    height: 65vh;
  }
  .how-it-grows-container h1 {
    width: 50%;
  }
  .how-it-grows-container h1::before {
    width: 25%;
    left: 0;
  }
  .how-it-grows-container h1::after {
    width: 25%;
    right: 0;
  }
  .how-it-grows-container p {
    width: 50%;
    margin: 20px auto;
    line-height: 1.5rem;
  }
  .phases {
    padding: 30px 10%;
  }
  .phases__text-header p {
    width: 70%;
  }
  .phase-three__guide-text h2 {
    font-size: 1rem;
  }
  .benefits {
    padding: 50px 15%;
  }
  .benefits__categories {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__categories__left {
    position: relative;
    margin-bottom: 40px;
  }
  .benefits__categories__left:before, .benefits__categories__left:after {
    content: "";
    position: absolute;
    background-color: #2c4353;
    bottom: 0;
    width: 50px;
    height: 2px;
  }
  .benefits__categories__left::before {
    left: 50%;
  }
  .benefits__categories__left::after {
    right: 50%;
  }
  .benefits__categories__left p {
    padding-bottom: 40px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer > * {
    padding: 0 50px;
    width: 100%;
  }
  .footer__extra-info {
    margin-top: 60px;
  }
  .footer__extra-info__sitemap-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__extra-info__sitemap-info h3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=med_screen.css.map */