@use './Abstracts/variables' as *;
@use './Abstracts/mixins' as *;
@use './Abstracts/footer';

.onload.fade-onload {
  opacity: 1;
}

.onload {
  @include fade-onload;
}
body {
  font-family: $main-font;
  color: $black;
  font-size: 1.1rem;
}

// =====================navigation menu=====================
.navbar.navbar-animate-onload {
  opacity: 1;
  transform: translateY(0px);
}
.navbar {
  @include fade-navbar;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px 30px;
  box-shadow: 0px 2px 5px 0px rgba(73, 73, 73, 0.5);
  &__logo {
    display: flex;
    font-family: "Assistant", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    & :nth-child(1) {
      color: #5c5655;
    }
    & :nth-child(2) {
      color: $red;
    }
  }
  &__logo-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $brown;
      font-weight: 500;
      width: 100%;
      & li {
        display: block;
        height: 100%;
        padding: 0 10px;
        transition: transform 0.2s ease;
        &:hover {
          color: #301e1eea;
          transform: scale(1.1);
        }
      }
    }
  }
}
.toggle-menu.fa-bars {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2.5rem;
  color: $brown;
}

// ====================hero image landing page=====================

.hero-banner {
  display: flex;
  & > * {
    height: 100vh;
  }
  &__left-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    background-color: $blue;
    & h1 {
      text-transform: uppercase;

      margin-top: -60px;
      color: $white;
      font-size: 3.5rem;
      padding: 1rem 30px 1rem 30px;
      font-weight: 500;
    }

    & h2 {
      font-family: $main-font;
      color: $white;
      font-weight: 100;
      padding: 0.1rem 50px 1rem 30px;
      line-height: 1.7em;
      width: 80%;
      font-size: 1.2rem;
    }
    & a {
      @include btn-blue;
      align-self: flex-start;
      border: none;
      border: 2px solid $brown;
      background: $brown;
      font-size: 1.2rem;
      margin-top: 15px;
      margin-left: 30px;
      font-weight: 500;
      color: $white;
      transition: background-color 0.2s ease-in, color 0.2s ease-in,
        opacity $transition-speed ease;

      &:hover {
        background: $white;
        color: $brown;
        cursor: pointer;
      }
    }
  }
  &__right-bg {
    background-color: #ccd1d4;
    width: 65vw;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// <!-- ====HOW IT GROWS START==== -->

.how-it-grows-container {
  margin: 30px auto;
  text-align: center;
  padding: 80px 0;

  & h1 {
    // color: $black;
    margin: 0 auto;
    width: max-content;
    // text-align: center;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    z-index: 10;
    @include underline-header;
  }
  & p {
    font-family: $secondary-font;
    width: 30%;
    margin: 20px auto;
    line-height: 1.5rem;
  }
}

// phase one how it grows

.fade-in.fade-onscroll {
  opacity: 1;
  transform: translateY(0px);
}
.phases {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 70px 20%;
  margin: 0 auto;
  &__text-header {
    @include fade-onscroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    height: max-content;
    border-left: 20px solid $blue;
    padding: 0px 20px;
    & h1 {
      text-transform: capitalize;
      font-weight: 500;
    }
    & p {
      font-family: $secondary-font;
      width: 50%;
      padding: 15px 0;
      height: max-content;
    }
  }

  &__img-container {
    @include fade-onscroll;

    overflow: hidden;
    height: 0;
    padding: 20% 20%;
    position: relative;

    & img {
      display: block;
      min-width: 150%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.phase-two {
  color: $grey;
  flex-direction: row-reverse;
  background-color: $blue;
  text-align: right;
  & .phases__text-header {
    border-left: none;
    border-right: 20px solid $grey;
    & p {
      text-align: right;
      margin-left: auto;
    }
  }
}

.phase-three {
  background-color: $white;
  &__guide-text {
    @include fade-onscroll;
    color: $blue;
    text-transform: capitalize;
    font-size: 0.8rem;
    // text-align: center;
    margin-top: 50px;
    white-space: nowrap;
    & .btn {
      display: inline-block;
      @include btn-blue;
      margin-top: 15px;
    }
  }
}
// divider

.divider {
  height: 150px;
  background: url("/Assets/placeholder images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: 15px solid $grey;
  border-bottom: 15px solid $grey;
}

// ================CONSUMING REISHI=================

.benefits {
  background-color: #dadada;
  padding: 80px 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  &__header {
    & h1 {
      margin: 30px auto;
      width: max-content;
      position: relative;
      z-index: 99;
      text-transform: capitalize;
      font-weight: 500;
      @include underline-header;
    }
    & p {
      padding: 10px 0;
      color: $silver;
      font-family: $secondary-font;
      max-width: 60%;

      text-align: center;
      margin: 0 auto;
    }
  }
  &__categories {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    & .fas {
      color: $white;
      font-size: 3.5rem;
    }
    & h2 {
      padding: 20px 0;
      font-family: $secondary-font;
      color: $blue;
      font-weight: 500;
    }

    & p {
      color: $silver;
      font-family: $secondary-font;
      text-align: center;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  &__btn {
    @include btn-blue;
  }
}

// gallery in index.html
.gallery {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 15px solid $grey;
  border-bottom: 15px solid $grey;
  &__header {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    width: max-content;
    position: relative;
    z-index: 99;
    text-transform: capitalize;
    font-weight: 500;
    @include underline-header;
  }

  &__btn {
    @include btn-blue;
  }
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  grid-auto-flow: dense;
  width: 90%;
  margin: 40px auto;
  & picture {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
  }
  & img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
    object-fit: cover;
  }
}

// footer

// ======================FAQ====================

.faq-banner {
  @include header-banner;

  & h1 i {
    position: absolute;
    z-index: 0;
    top: -100px;
    left: -180px;
    color: rgba(233, 233, 233, 0.4);
    transform: rotateY(180deg);
    font-size: 15rem;
  }
  & h1 i.comment-small {
    font-size: 10rem;
    top: -10px;
    left: -240px;
    color: #b4cbe0;
    opacity: 0.4;
    transform: rotateY(0);
  }
}

h2.faq-header {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  padding: 50px 0 80px;
  color: $black;

  // @include big_underline;
}

.faq-container {
  color: $black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  box-shadow: 1px 5px 5px #7272727a;
  grid-gap: 30px;
  margin: 10px auto 70px;
  padding: 60px 40px;
  background-color: #dfdfdf;
  width: 70%;
  text-align: center;
  &__aq-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 5px solid $blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    position: relative;
    padding: 10px 10px;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
    &.display-question {
      background-color: $white;
      box-shadow: 1px 2px 5px rgba(41, 41, 41, 0.308);
    }
    &:hover {
      cursor: pointer;
      color: #17232c;
      background-color: #f0f0f0c7;
    }
  }

  &__chevron {
    position: absolute;
    top: 12px;
    right: 20px;

    transition: transform 0.1s ease-in;
    &.display-question {
      transform: translateY(3px);
      transform: rotateZ(180deg);
    }
  }
  & h3 {
    line-height: 1.5rem;
    font-weight: 400;
    margin-right: 30px;
    max-width: 70%;
    flex-basis: 100;
  }
  & .faq-answer {
    display: none;
    font-family: $secondary-font;
    padding: 20px 10px;
    // flex-grow: 100;
    // display: flex;
    max-width: 70%;
    line-height: 1.3rem;
    // font-style: italic;
    &__bold {
      font-weight: 900;
    }

    &.display-question {
      display: block;
    }
  }
}

// =================Gallery===============

.gallery-banner {
  @include header-banner;
  & h1 {
    position: relative;
  }
  i {
    position: absolute;
    z-index: 0;
    top: -100px;
    left: -180px;
    color: rgba(233, 233, 233, 0.4);
    transform: rotateZ(350deg);
    font-size: 15rem;
  }
}
.gallery-container {
  @include container;
  border-bottom: none;
  // background-color: $red;
  // margin: 0rem 4rem 3rem;
  // padding: 2rem 2rem;
  // padding: 1rem;
  // width: 80%;
  // margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  &__img-container {
    overflow: hidden;
    border-radius: 5px;
    height: 0;
    padding: 50% 0;
    position: relative;
    box-shadow: 4px 3px 8px rgba(65, 65, 65, 0.664);
  }

  &__img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    // transition: transform 5s ease-in;
    object-fit: cover;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
.gallery-main {
  position: relative;
}
@keyframes modal-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal-background {
  position: fixed;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) brightness(20%);
  transition: all 1s ease;
  animation-name: modal-opacity;
  animation-duration: 0.5s;
}

.modal-background-arrow {
  z-index: 999;
  color: white;
  font-size: 3rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: $grey;
  }
}
.fa-chevron-right {
  transform: translateX(-70px);
}
.fa-chevron-left {
  transform: translateX(70px);
}
.fa-times {
  position: absolute;
  top: 10px;
  right: 2%;
  font-size: 2rem;
  font-weight: 300;
  color: $white;
  &:active {
    color: $grey;
  }
  &:hover {
    cursor: pointer;
  }
}
.modal-content {
  animation-name: modal-zoom;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  &__img-container {
    position: relative;
    height: max-content;
    width: 100%;
    margin: 0 auto;
    & img {
      width: 100%;
      height: auto;
      max-height: 720px;
      object-fit: contain;
    }
  }
  &__figcaption {
    // background-color: $white;
    color: $white;
    text-align: center;
    width: 100%;
    font-weight: 300;
  }
}
