body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  color: #3f2627;
}

.navbar.navbar-animate-onload {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.navbar {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  opacity: 0;
  -webkit-transition: all 1.3s ease-out 0.3s;
  transition: all 1.3s ease-out 0.3s;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(73, 73, 73, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(73, 73, 73, 0.5);
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Assistant", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar__logo :nth-child(1) {
  color: #5c5655;
}

.navbar__logo :nth-child(2) {
  color: #66101f;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f2627;
  font-weight: 500;
  width: 100%;
}

.navbar__links ul li {
  display: block;
  height: 100%;
  padding: 0 10px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__links ul li:hover {
  color: #a7600c;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.toggle-menu.fa-bars {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2.5rem;
  color: #3f2627;
}

a.nav-shop-btn.btn {
  padding: 0.2em 1.3em;
  color: #f0f0f0;
  margin-left: 10px;
  background: #3f2627;
  border: 2px solid #3f2627;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in, top 2s ease 0.3s;
  transition: color 0.2s ease-in, background-color 0.2s ease-in, top 2s ease 0.3s;
}

a.nav-shop-btn.btn:hover {
  background: #f0f0f0;
  color: #3f2627;
}

a.nav-shop-btn.btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.onload {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.onload.fade-onload {
  opacity: 1;
}

.hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-banner > * {
  height: 100vh;
}

.hero-banner__left-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35vw;
  background-color: #2c4353;
}

.hero-banner__left-bg h1 {
  text-transform: uppercase;
  margin-top: -60px;
  color: #f0f0f0;
  font-size: 3.5rem;
  padding: 1rem 30px 1rem 30px;
  font-weight: 500;
}

.hero-banner__left-bg h2 {
  font-family: "Lora", serif;
  color: #cccccc;
  font-weight: 200;
  padding: 0.1rem 50px 1rem 30px;
  line-height: 1.7em;
  width: 80%;
}

.hero-banner__left-bg a {
  border: none;
  border: 2px solid #2c4353;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background-color: #2c4353;
  color: #f0f0f0;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
  border: 2px solid #3f2627;
  background: #3f2627;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 500;
  color: #f0f0f0;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 2s ease;
  transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 2s ease;
}

.hero-banner__left-bg a:hover {
  background-color: #f0f0f0;
  color: #2c4353;
  cursor: pointer;
}

.hero-banner__left-bg a:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.hero-banner__left-bg a:hover {
  background: #f0f0f0;
  color: #3f2627;
  cursor: pointer;
}

.hero-banner__right-bg {
  background-color: #ccd1d4;
  width: 65vw;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-it-grows-container {
  margin: 30px auto;
  text-align: center;
  padding: 20px 0;
}

.how-it-grows-container h1 {
  color: #66101f;
  margin: 0 auto;
  width: 30%;
  position: relative;
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
}

.how-it-grows-container h1::before {
  position: absolute;
  z-index: 2;
  background: #3f2627;
  content: "";
  width: 20%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.how-it-grows-container h1::after {
  position: absolute;
  z-index: 2;
  background: #3f2627;
  content: "";
  width: 20%;
  height: 2px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.how-it-grows-container p {
  font-family: "Lora", serif;
  width: 30%;
  margin: 20px auto;
  line-height: 1.5rem;
}

.fade-in.fade-onscroll {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.phases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 70px 20%;
  margin: 0 auto;
}

.phases__text-header {
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-left: 20px solid #2c4353;
  padding: 5px 20px;
}

.phases__text-header h1 {
  text-transform: uppercase;
  font-weight: 500;
}

.phases__text-header p {
  font-family: "Lora", serif;
  width: 50%;
  padding: 15px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.phases__img-container {
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  overflow: hidden;
  height: 0;
  padding: 20% 20%;
  position: relative;
}

.phases__img-container img {
  display: block;
  min-width: 150%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.phase-two {
  color: #cccccc;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #2c4353;
  text-align: right;
}

.phase-two .phases__text-header {
  border-left: none;
  border-right: 20px solid #cccccc;
}

.phase-two .phases__text-header p {
  text-align: right;
  margin-left: auto;
}

.phase-three {
  background-color: #f0f0f0;
}

.phase-three__guide-text {
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  color: #2c4353;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
}

.phase-three__guide-text .btn {
  border: none;
  border: 2px solid #2c4353;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background-color: #2c4353;
  color: #f0f0f0;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  margin-top: 15px;
}

.phase-three__guide-text .btn:hover {
  background-color: #f0f0f0;
  color: #2c4353;
  cursor: pointer;
}

.phase-three__guide-text .btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.divider {
  height: 150px;
  background: url("/Assets/placeholder images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: 15px solid #cccccc;
  border-bottom: 15px solid #cccccc;
}

.benefits {
  background-color: #dadada;
  padding: 80px 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.benefits__header h1 {
  color: #2c4353;
  margin: 30px auto;
  width: 100%;
  position: relative;
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
}

.benefits__header h1::before {
  position: absolute;
  z-index: 2;
  background: #2c4353;
  content: "";
  width: 10%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits__header h1::after {
  position: absolute;
  z-index: 2;
  background: #2c4353;
  content: "";
  width: 10%;
  height: 2px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits__header p {
  padding: 10px 0;
  color: #656565;
  font-family: "Lora", serif;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}

.benefits__categories {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefits__categories .fas {
  color: #f0f0f0;
  font-size: 3.5rem;
}

.benefits__categories h2 {
  padding: 20px 0;
  font-family: "Lora", serif;
  color: #2c4353;
  font-weight: 500;
}

.benefits__categories p {
  color: #656565;
  font-family: "Lora", serif;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.benefits__btn {
  border: none;
  border: 2px solid #2c4353;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background-color: #2c4353;
  color: #f0f0f0;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.benefits__btn:hover {
  background-color: #f0f0f0;
  color: #2c4353;
  cursor: pointer;
}

.benefits__btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.gallery {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 15px solid #cccccc;
  border-bottom: 15px solid #cccccc;
}

.gallery__header {
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #2c4353;
  width: 50%;
  position: relative;
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
}

.gallery__header::before {
  position: absolute;
  z-index: 2;
  background: #2c4353;
  content: "";
  width: 10%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery__header::after {
  position: absolute;
  z-index: 2;
  background: #2c4353;
  content: "";
  width: 10%;
  height: 2px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery__btn {
  border: none;
  border: 2px solid #2c4353;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background-color: #2c4353;
  color: #f0f0f0;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.gallery__btn:hover {
  background-color: #f0f0f0;
  color: #2c4353;
  cursor: pointer;
}

.gallery__btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.gallery__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  grid-auto-flow: dense;
  width: 90%;
  margin: 40px auto;
}

.gallery__container picture {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
}

.gallery__container img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c4353;
  color: #f0f0f0;
  width: 100%;
  padding: 60px 30px;
}

.footer > * {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 20px;
}

.footer h3 {
  font-weight: 400;
  font-size: 1.7rem;
}

.footer h4 {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 10px 0 40px 0;
  opacity: 0.8;
}

.footer__form-section {
  width: 50%;
}

.footer__form-section .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .btn {
  border: none;
  border: 2px solid #f0f0f0;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background-color: #f0f0f0;
  color: #2c4353;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 30px;
}

.footer .btn:hover {
  background-color: #2c4353;
  color: #f0f0f0;
  cursor: pointer;
}

.footer .btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.footer__extra-info {
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__extra-info h4 {
  padding-bottom: 20px;
}

.footer__extra-info__sitemap-info {
  padding: 40px 0;
}

.footer__extra-info__sitemap-info h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 0.1em;
}

.footer__extra-info__sitemap-info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  opacity: 0.9;
}

.footer__extra-info__sitemap-info__links ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 30px;
}

.footer__extra-info__sitemap-info__links ul li a {
  display: inline-block;
  padding: 3px 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.footer__extra-info__sitemap-info__links ul li a:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__extra-info-btn.btn {
  margin: 0;
}

.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-inputs__contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-inputs__contact-info__name {
  padding-right: 15px;
}

.form-inputs__contact-info__email {
  width: 60%;
}

.form-inputs__contact-info > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-inputs__contact-info > * label {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.form-inputs__contact-info > * input {
  padding-left: 5px;
  height: 40px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.form-inputs__textarea {
  min-width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 5px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.form-inputs__textarea-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 20px 0 10px 0;
}

@-webkit-keyframes chevron {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes chevron {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.copyright-section {
  border-top: 1px solid #656565;
  color: #f0f0f0;
  background-color: #2c4353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 150px;
}

.copyright-section > * {
  opacity: 0.5;
}

.copyright-section__chevron:hover .fa-chevron-up,
.copyright-section__chevron:focus .fa-chevron-up {
  -webkit-animation-name: chevron;
          animation-name: chevron;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
/*# sourceMappingURL=style.css.map */